.container {
	overflow-x: hidden;
	width: 100%;
}

.how {
	width: 90%;
	margin: 4rem auto;
}

.steps {
	/* background: #f6f0ff; */
	margin: 0 auto;
	padding: 5%;
}

.steps h1 {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	line-height: 48px;
	color: #000000;
	margin-bottom: 1rem;
}

.ProcessCard {
	background-color: #ffffff;
	/* border: 0.5px solid #989898; */
	border-radius: 8px;
	width: 31%;
	height: 190px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* position: relative; */
	box-shadow: 4px 8px 24px #f2f2f2;
}
.ProcessCard p {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.steps .stepImage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4rem 0 0;
}

.cardcircle {
	background: #8C68CA;
	/* border: 1px solid #989898; */
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: absolute; */
	/* bottom: 85%; */
	/* left: auto; */
}
.cardcircle p {
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 1.7rem;
	color: white;
}
.ProcessCard h5 {
	font-weight: 700;
	color: #303030;
	font-size: 1.1rem;
	margin-top: 1.5rem
}
.text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
	margin-top: 4rem;
}
.textrev {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 4rem;
}
.leftside {
	width: 47%;
}
.rightside {
	width: 45%;
}
.leftside img {
	width: 100%;
}

@media (max-width: 1000px) {
	.ProcessCard p {
		width: 70%;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.steps .stepImage {
		display: block;
	}
	.ProcessCard {
		width: 80%;
		height: 150px;
		margin: 3rem auto;
	}
	.textrev,
	.text {
		display: block;
		margin-top: 2rem;
	}
	.leftside {
		width: 80%;
		margin: 1rem auto;
	}
	.rightside {
		width: 80%;
		margin: 1rem auto;
	}
}
