.container {
    overflow-x: hidden;
    width: 100%;
    padding-top: 150px;
}

.how {
	padding: 96px 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 96px;
}

.steps {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.steps h1 {
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
color: #000000;
padding-bottom: 50px;

}

.steps .stepImage {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.steps .stepImage img {
    width: 300px;
    height: 231px;

}

.how img {
	width: 80%;
}

.text {
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 960px) {
    .steps .stepImage {
      flex-direction: column;
      align-items: center;
    }

    .steps .stepImage img {
        width: 70%;
        height: 231px;
        padding-bottom: 30px;
    
    }
}

@media only screen and (max-width: 1200px) {
	.how {
		grid-template-columns: 1fr;
	}

	.how img {
		justify-self: center;
	}

	.text {
		width: 80%;
		justify-self: center;
		justify-content: flex-start;
	}

	.text:nth-child(3) {
		grid-row: 4;
	}

	.text:nth-child(7) {
		grid-row: 8;
	}
}
