
.formexternal {
	background-color: #492b7c;
	padding-block: 5px;
}
 
.formmargin1, .formmargin2, .formmargin3, .formmargin4{
	margin-block: 80px;
	padding-block: 100px;
}


.signin {
	/* max-width: 864px; */
	width: 60%;
	background: #ffffff;
	padding-inline: 40px;
	margin: 0px;
	margin-inline: auto;
	/* margin-bottom: 100px; */
	margin-block: auto;
	border-radius: 24px;
	position: relative;
}

.topleft {
position: absolute;
top: 15px;
}

.midleft {
position: absolute;
top: 272px;
left: 11px;
}
.topblock {
position: absolute;
top: 15px;
right: 300px;
}
.topslant {
position: absolute;
top: 100px;
right: 10px;

}


.header {
	margin-bottom: 46px;

}
.header img {
	justify-content: center;
	align-content: center;
	padding-inline: 41%;
	margin-bottom: 30px;
}
.header h3 {
	font-weight: 700;
	color: #303030;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	/* padding-inline: 25%; */
}
.header p {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	/* padding-inline: 25%; */
}

.input {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.form-group__checkbox {
	display: flex;
	gap: 10px;
	margin-bottom: 40px;
}

.form-group__checkbox-label {
	font-size: 15px;
	width: 85%;
	font-weight: 400;
	/* line-height: 1.4; */
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #303030;
}

.input__checkbox {
	display: inline-block;
	margin: inherit;
	flex: none;
}

.btn {
	margin-top: 0px;
	padding: 0 10%;
}

.bottomText {
	text-align: center;
	margin-top: 8px;
	display: flex;
	flex-direction: column;
}

.bottomText p {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	margin-top: 30px;
}

.link {
	color: #492b7c;
	text-decoration: none;
}

.link:active,
.link:visited {
	color: #492b7c;
}

@media (max-width: 880px) {
	.form-group__checkbox-label {
		font-size: 15px;
		width: 100%;
		font-weight: 400;
	}
}

@media only screen and (max-width: 768px) {
	.signin {
    width: 60%;
    background: #ffffff;
    padding-inline: 10px;
    margin: 0px;
    margin-inline: auto;
    margin-block: auto;
    border-radius: 24px;
    position: relative;
	}
	.formmargin1, .formmargin2, .formmargin3, .formmargin4{
		margin-block: 55px;
		padding-block: 65px;
	}

	.header {
		margin-bottom: 32px;
	
	}
	.header img {
		justify-content: center;
		align-content: center;
		padding-inline: 30%;
		margin-bottom: 20px;

	}
	.header h3 {
		font-weight: 700;
		color: #303030;
		font-size: 20px;
		line-height: 18px;
		text-align: center;
		margin-bottom: 5px;
		/* padding-inline: 25%; */
	}
	.header p {
		font-weight: 700;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		/* padding-inline: 25%; */
	}
	
	.topleft {
		position: absolute;
		top: 25px;
    	left: 50px;
	}
		
		.midleft {
		position: absolute;
		top: 270px;
		left: 18px;
	}
		.topblock {
		position: absolute;
		top: 20px;
		left: 300px;
	}
		.topslant {
		position: absolute;
		top: 135px;
		right: 12px;		
	}
	.form-group__checkbox {
		display: flex;
		padding: 0 10%;
		margin-bottom: 30px;
	}
	.form-group__checkbox-label {
		font-size: 15px;
		width: 100%;
		font-weight: 400;
		margin: 0px;
	}
.btn {
	margin-bottom: 5px;
}
}

@media only screen and (max-width: 500px) {
	/* .signin {
		padding: 20px 27.5px;
		width: 100%;
	} */
	.formexternal {
		background-color: #fff;
		padding-block: 0px;
	}
	.signin {
		/* margin-block: 0px; */
		width: 100%;
		background: #ffffff;
		padding-inline: 10px;
		margin: 0px;
		margin-inline: auto;
		/* margin-bottom: 100px; */
		margin-block: auto;
		border-radius: 24px;
		position: relative;
		}
		.formmargin1, .formmargin2, .formmargin3, .formmargin4{
			margin-block: 3px;
			padding-block: 45px;
		}
	
		.header {
			margin-bottom: 32px;
		
		}
		.header img {
			justify-content: center;
			align-content: center;
			padding-inline: 35%;
			margin-bottom: 20px;
	
		}
		.header h3 {
			font-weight: 700;
			color: #303030;
			font-size: 15px;
			line-height: 15px;
			text-align: center;
			margin-bottom: 5px;
			/* padding-inline: 25%; */
		}
		.header p {
			font-weight: 700;
			font-size: 11px;
			line-height: 10px;
			text-align: center;
			/* padding-inline: 25%; */
		}
		
		.topleft {
			position: absolute;
			top: 25px;
			left: 20px;
			width: 30px;
		}
			
			.midleft {
			position: absolute;
			top: 230px;
			left: 18px;
			width: 25px;
		}
			.topblock {
			position: absolute;
			top: 20px;
			left: 280px;
			width: 22px;
		}
			.topslant {
			position: absolute;
			top: 135px;
			right: 12px;
			height: 40px;		
		}
		.form-group__checkbox {
			display: flex;
			padding: 0 10%;
			margin-bottom: 30px;
		}
		.form-group__checkbox-label {
			font-size: 15px;
			width: 100%;
			font-weight: 400;
			margin: 0px;
		}

		.bottomText p {
			font-weight: 400;
			font-size: 13px;
			line-height: 15px;
			text-align: center;
		}
}



/* .signup {
	max-width: 864px;
	width: 95%;
	background: #f7f7fe;
	padding: 80px 110px;
	margin: 53px auto;
}

.header {
	margin-bottom: 56px;
}

.input {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.header h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #1d1dd8;
}

.btn {
	margin-top: 64px;
}

.bottomText {
	text-align: center;
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.bottomText p {
	font-weight: 500;
	font-size: 16px;
	line-height: 32px;
}

.link {
	color: #1d1dd8;
	text-decoration: none;
}

.link:active,
.link:visited {
	color: #1d1dd8;
}

.verification {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.verificationBtn {
	outline: none;
	border: none;
	background: #1d1dd8;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.signup {
		padding: 40px 55px;
	}
}

@media only screen and (max-width: 500px) {
	.signup {
		padding: 20px 27.5px;
		width: 100%;
	}
} */
