.signup {
	max-width: 864px;
	width: 95%;
	background: #f7f7fe;
	padding: 80px 110px;
	margin: 53px auto;
}

.header {
	margin-bottom: 56px;
}

.input {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.header h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #1d1dd8;
}

.btn {
	margin-top: 64px;
}

.bottomText {
	text-align: center;
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.bottomText p {
	font-weight: 500;
	font-size: 16px;
	line-height: 32px;
}

.link {
	color: #1d1dd8;
	text-decoration: none;
}

.link:active,
.link:visited {
	color: #1d1dd8;
}

.verification {
	width: 100%;
	display: flex;
	align-items: flex-end;
	gap: 10px;
}

.verificationBtn {
	outline: none;
	border: none;
	background: #1d1dd8;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.signup {
		padding: 40px 55px;
	}
}

@media only screen and (max-width: 500px) {
	.signup {
		padding: 20px 27.5px;
		width: 100%;
	}
}
