.MainSection{
  display: flex;
  flex-direction: column;
}
.PricingHeaderText {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #282828;
  }
  .PricingHeaderSubText {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #282828;
    opacity: 0.6;
    margin-bottom: 48px;
  }
  .DiscountSection{
    margin-left: 57%;
  }
  .Discount{
    width: 51px;
    height: 16px;
    margin-left: -7%;
  }
  .Arrow{
    width: 53px;
    height: 67px;
  }
  .Slider{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    margin-top: -60px;

  }
  .Slider button{
    background-color: white;
    border: none;
  
  }

  .PlanA{
    font-size: 48px;
    color: #492B7C;
  }
  .PlanB{
    font-size: 48px;
    color: #492B7C;
  }

.PriceBoxSection{
  margin: 120px 0;
  display: flex;
  justify-content: space-evenly;
}
.Bronze, .Silver, .Gold{
    width: 30%;
    min-height: 476px;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    border: none;
    border-radius: 24px;
    background-color: #F6F0FF;
}

.Bronze button, .Silver button, .Gold button{
    width: 72%;
    height: 42px;
    border-radius: 4px;
    border: none;
    background-color: #492B7C;
    color: white;
}
.PriceBoxSection i, .PriceBoxSection li{
  opacity: 60%;
}

@media screen and (max-width: 900px){
  .PricingHeaderText{
    font-size: 36px;
  }
  .DiscountSection{
    margin-left: 60%;
  }
}

  @media only screen  and (max-width: 620px) {
    .PricingHeaderText{
      font-size: 24px;
    }
    .PricingHeaderSubText{
      font-size: 16px;
    }
    .DiscountSection{
      margin-left: 65%;
    }
    .PriceBoxSection{
      flex-direction: column;
      gap: 16px;
    }
    .PriceBoxSection div{
      width: 90%;
      margin: auto;
    }
  }
  @media screen and (max-width:480px) {
    .PricingHeaderText{
      font-size: 18px;
    }
    .PricingHeaderSubText{
      font-size: 14px;
    }
    
    .Slider{
      font-size: 18px;
      margin-top: -45px;
    }
    .PlanA, .PlanB{
      font-size: 24px;
    }
  }
  @media screen and (max-width: 200px) {
    .MainSection{
      margin: 0;
      padding: 0;
    }
    .Slider{
      font-size: 16px;

    }
    .Arrow{
      display: none;
    }
    .PlanA, .PlanB{
      font-size: 24px;
    }
  }