.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #492b7c;
	color: #fff;
	border-radius: 12px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px 100vw rgba(0, 0, 0, 0.8);
	padding: 20px;
}

.input {
	width: 100%;
}
.input label div {
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 8px;
}

.inputField {
	width: 100%;
	border: 1px solid #757575;
	outline: none;
	border-radius: 8px;
	padding: 16px;
	background: transparent;
	transition: all 200ms ease-in-out;
}
.inputField:focus,
.inputField:hover {
	border-color: #1d1dd8;
}

.error .inputField {
	border-color: #f89687;
}

.errorMsg {
	font-size: 14px;
	line-height: 20px;
	color: #f83f23;
	margin-top: 5px;
}
