.login {
	max-width: 864px;
	width: 95%;
	background: #f7f7fe;
	padding: 80px 110px;
	margin: 53px auto;
}

.header {
	margin-bottom: 56px;
}

.input {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.header h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #1d1dd8;
}

.btn {
	margin-top: 64px;
}

.bottomText {
	text-align: center;
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.bottomText p {
	font-weight: 500;
	font-size: 16px;
	line-height: 32px;
}

.link {
	color: #1d1dd8;
	text-decoration: none;
}

.link:active,
.link:visited {
	color: #1d1dd8;
}
