.loginBg {
	background-color: #492B7C;
	height: 100%;
	width: 100%;
	padding: 80px 0px;
	
}
	.login {
	max-width: 864px;
	width: 100%;
	background: #FFFFFF;
	padding: 80px 60px;
	margin: 20px auto;
	box-shadow: 4px 8px 24px #704EA9;
	border-radius: 24px;
}
/* .login {
	max-width: 864px;
	width: 95%;
	background: #fff;
	padding: 80px 110px;
	margin: 53px auto;
} */

.header {
	margin-bottom: 0px;
	align-items: center;
}

.input {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.header h3 {
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #303030;

}
.header p {
	font-weight: 500;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	color: #303030;
	font-family: 'Nunito';

}

.btn {
	margin-top: 64px;
	color: #6F42BD;
}

.bottomText {
	text-align: center;
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.bottomText p {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	align-items: center;
	color: #303030;
	}

.link {
	background: #492B7C;
	text-decoration: none;
}

.link:active,
.link:visited {
	background: #6F42BD;

}

@media only screen and (max-width: 768px) {
	.login {
		padding: 40px 55px;
	}
}

@media only screen and (max-width: 500px) {
	.login {
		padding: 20px 27.5px;
		width: 100%;
	}
}
