.button{
    
}

.primaryBtn {
    background: inherit;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
   border: 1px  ;
   border-radius: 4px;
}

.secondaryBtn {
    background: inherit;
    padding: 8px 16px;
    text-decoration: none;
    color: #757575;
   border: 1px  solid #757575;
   border-radius: 4px;
}