.editaccount{
	display: flex;
	flex-direction: column;
	height: 939px;
	background-color: rgba(255, 255, 255, 0.41);
	padding: 40px 116px 104px 16px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 1300px;
	width: 90%;
	margin: auto;
}
.formcontrol{
	display: flex;
	writing-mode: horizontal-tb;
	flex-direction: column;
	padding-top: 10px;
	padding-left: 10px;
	width: 566px;
	height: 42px;
	border: none;
	border-radius: 8px;
	background-color: #efefef;
	cursor: pointer;
}




.tabheading h2{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: #1d1dd8;
}
.userinfo {
	gap: 33.67px;
}

.userprofile {
	display: flex;
	justify-content: center;
	position: relative;
}

.profileimg {
	border-radius: 100px;
	width: 140px;
   height: 130px;
}

.head{
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #303030;
	width: 100%;
	padding-bottom: 0%;
	margin-bottom: -2%;

}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 33.67px;
}
.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	width: 100%;
	gap: 10px;
}


.label {
	text-align: left;
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	width: 100%;
}
.photo{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 12px 20px;
	gap: 10px;
	width: 100%;
	height: 44px;
	border: 1px solid #492B7C;
	border-radius: 4px;
	justify-content: center;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	margin-top: 15%;
	color: #492B7C;
	background-color: inherit;
}


 .textinput {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px;
	gap: 10px;
	width: 50%;
	height: 44px;
	background: #fff;
	border: 1px solid #757575;
	border-radius: 8px;	
	}
	
.userinfo {
	display: flex;
	flex-direction: column;
}
.buttons {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	justify-content: center;
	gap: 16px;
}


.savebtn {
	display: flex;
	flex-direction: row;
	padding: 12px 12px;
	gap: 10px;
	width: 155px;
	height: 48px;
	background: #492B7C;
	border: none;
	border-radius: 4px;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	justify-content: center;
	cursor: pointer;
	color: #FFFFFF;

}

.discardbtn {
	display: flex;
	flex-direction: row;
	padding: 12px 12px;
	gap: 10px;
	width: 96px;
	height: 48px;
	border: 1px solid #492B7C;
	border-radius: 4px;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	justify-content: center;
	cursor: pointer;
	color: #492B7C;
	background-color: transparent;
	text-transform: capitalize;
	cursor: pointer;
}

.edit-account
	.user-info
	.user-details-form
	form
	label {
	width: 100%;
	padding: 12px 24px;
	grid-gap: 20px;
	gap: 20px;
}
@media screen and (max-width:640px) {
	.container{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		width: 100%;
		gap: 10px;
	}
	.userprofile{
		margin-bottom: -30%;
		margin-top: 15px;
	}
	.form{
		display: flex;
		height: 1350px;
		justify-content: center; 
	}
	.textinput {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 12px;
		gap: 10px;
		width: 100%;
		height: 44px;
		background: #fff;
		border: 1px solid #757575;
		border-radius: 8px;	
		}
		.user-info{
	height: 1300px;

		}
}


@media screen and (min-width:640px) and (max-width: 1300px) {
	.savebtn:hover{
		background: #624594;
		color: rgb(212, 212, 212);
		transition: 0.3s;
	
	
	}
	.discardbtn:hover{
		background-color: #dfd0f8;
		transition: 0.3s;
	
	}
	.photo:hover{
		background-color: #dfd0f8;
			transition: 0.3s;
	}
	.textinput:hover{
		background-color: #dfd0f8;
		transition: 0.3s;
	}
	
	.textinput {
		display: flex;
		flex-direction: column;
		padding: 12px;
		padding-left: 10px;
		width: 98%;
		height: 42px;
		background: #fff;
		border: 1px solid #757575;
		border-radius: 8px;	
		cursor: pointer;

	}
	
	.edit-account
		.user-info
		.user-details-form
		form
		label {
		width: 100%;
		padding: 12px 24px;
		grid-gap: 20px;
		gap: 20px;
	}
}
