.editorContainer {
	background-color: #ffffff;
	border: 1px solid #ececfb;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.667rem;
	margin-bottom: 1rem;
	width: 60%;
}

.questionArea {
	display: flex;
	gap: 1rem;
	border-bottom: 1px solid #d6d6d6;
	font-size: 16px;
}

.profilePicture {
	width: 60px;
	height: 60px;
}

.writeQuestion {
	outline: none;
	border: none;
	resize: none;
	overflow: hidden;
	width: 100%;
	margin: 0.5em 0;
	font-weight: 400;
	font-size: 16px;
}

.writeQuestion::placeholder {
	font-weight: 400;
	font-size: 16px;
	color: #8f8f8f;
}

.editorFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.editorFooter > div {
	display: flex;
	gap: 1.5rem;
}

.editorIcons {
	width: 1rem;
	height: 1rem;
	cursor: pointer;
}

.editorFooter > button {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 14px;
	background-color: #4343de;
	color: #fefefe;
	border: 1px solid #4343de;
	padding: 12px 24px;
	border-radius: 32px;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.editorContainer {
		width: 100%;
	}

	.profilePicture {
		width: 30px;
		height: 30px;
	}

	.writeQuestion {
		font-size: 12px;
	}

	.writeQuestion::placeholder {
		font-size: 12px;
	}

	.editorFooter > div {
		display: flex;
		gap: 0.5rem;
	}

	.editorIcons {
		width: 0.5rem;
		height: 0.5rem;
	}

	.editorFooter > button {
		font-size: 10px;
	}
}
