@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.cookiehead {
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	color: #1d1dd8;
	text-align: center;
}

.cookiehead h1 {
	font-size: 38px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 1.4249999523162842px;
	/* margin-bottom: 0; */
}
.cookiehead h5 {
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0.6000000238418579px;
	margin-top: 0;
}

@media screen and (max-width: 800px) {
	.cookiehead {
		padding-inline: 170px;
	}
}
@media screen and (max-width: 750px) {
	.cookiehead {
		padding-inline: 100px;
	}
}

@media screen and (max-width: 500px) {
	.cookiehead {
		padding-inline: 70px;
	}
}

@media screen and (max-width: 300px) {
	.cookiehead {
		padding-inline: 50px;
	}
}
