.devask_main {
	background: white;
	margin: 20px;
	margin-bottom: 20px;
	padding: 15px;
}

.dev__ask h2 {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: start;
}

.dev__ask p {
	font-size: 14px;
	text-align: start;
	font-weight: 400px;
	line-height: 22px;
}

.dev__askitem {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.dev__askitem img {
	height: 16px;
	width: 16px;
}

.dev__askwidgets {
	display: flex;
	justify-content: space-between;
}

.dev__flexitem {
	display: flex;
	align-items: center;
	gap: 5px;
}

.user {
	color: #4343df;
}
