.firstPost {
	width: 90%;
	margin: 1.5rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.imgWrapper {
	width: 48%;
}
.imgWrapper img {
	width: 100%;
}
.contentWrapper {
	width: 48.5%;
}

.contentWrapper h2 {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 50px;
	color: #492b7c;
}

.contentWrapper p {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #303030;
	margin: 1.2rem 0;
}
.readMore {
	color: #492b7c;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	font-weight: 600;
	display: flex;
	text-decoration: none;
}
.readMore img {
	margin-left: 10px;
}

.articles {
	width: 90%;
	margin: 1.5rem auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
	gap: 15px;
}

.sectionHeader {
	text-align: center;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 24px;
	color: #181818;
	margin: 1.9rem 0;
}
.postArticle {
	width: 100%;
	margin-bottom: 2.5rem;
}
.postArticle img {
	width: 100%;
}
.postWidth {
	width: 95%;
	margin: 1rem auto;
}
.postTitle {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	margin: 0.5rem 0;
	color: #303030;
	width: 70%;
}

.postDate {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.postDate p {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 16px;
	color: #303030;
}
.postContent{
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 30px;
	color: #303030;
}
.btnsBlog {
	display: flex;
	align-items: center;
	width: 33%;
	justify-content: center;
	margin: 0 auto;
}

.loadMore {
	border: 1px solid #492b7c;
	border-radius: 4px;
	padding: 12px 20px;
	background-color: white;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #492b7c;
	margin-right: 10px;
}
.SubmitArticle {
	background: #492b7c;
	border-radius: 4px;
	padding: 12px 20px;
	border: 1px solid #492b7c;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin-left: 10px;
}



@media (max-width:1000px){
	.firstPost {
		display: block;
	}
	.imgWrapper {
		width: 80%;
		margin: 1rem auto;
	}
	.contentWrapper {
		width: 100%;
		margin: 1.5rem auto;
	}
	.btnsBlog {
		width: 50%;
	}
}

@media (max-width:768px){
	.contentWrapper h2 {
		font-size: 1.9rem;
		line-height: 50px;
	}
	.postTitle {
		width: 100%;
		font-size: 18px;
	}
	.postContent{
		font-size: 0.85rem;
		line-height: 20px;
	}
	.btnsBlog {
		width: 65%;
	}
}

@media (max-width:500px){
	.contentWrapper h2 {
		font-size: 1.3rem;
		line-height: 30px;
	}
	.contentWrapper p {
		font-size: 1rem;
		line-height: 20px;
	}
	.btnsBlog {
		width: 90%;
		display: block;
	}
	.btnsBlog button{
		font-size: 0.8rem;
		width: 90%;
		display: flex;
		justify-content: center;
		margin: 1rem auto;
	}
.articles {
	display: block;
}
}