.users {
	width: 100%;
	padding: 24px;
	background: #f6f0ff;
	border-radius: 16px;
	font-size: 12px;
	margin: 0em 0em 3em 0em;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #1f1f1f;
}

.header span a:link,
.header span a:visited {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #492b7c;
}

.list {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
