.footerContainer {
	padding: 18px;
	background: #492b7c;
	font-family: 'Nunito';
}

.footer {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	display: none;
}

.internalfooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2rem 0;
}

.internalfooter p {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 27px;
	color: #fefefe;
}

.brandSocials {
	display: flex;
	flex-direction: column;
}
.brand {
	display: flex;
	gap: 26px;
	align-items: center;
	color: #fefefe;
	font-weight: 800;
	font-size: 33.9202px;
	line-height: 40px;
	cursor: pointer;
	text-decoration: none;
}
.socials {
	margin-top: 24px;
	display: flex;
	align-items: center;
	gap: 14.78px;
}

.icon {
	stroke: #7d7d92;
	color: transparent;
}

.isActive .icon {
	color: #492b7c;
	fill: #492b7c;
}

@media only screen and (max-width: 500px) {
	.footerContainer {
		display: block;
	}

	.internalfooter{
		display: none;
	}

	.footer {
		width: 100vw;
		padding: 10px;
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		background: #fff;
		box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.05);
		height: 80px;
	}
}
