body{
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-color: white;
    
}
#root{
    width: 100vw;
    margin: 0;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center
    
}


.editaccount{
    display: flex;
    flex-direction: column;
    height: unset;
    background-color: rgba(255,255,255,0.41);
    padding: 16px;
    width: 100vw;
    max-width: 800px;
    min-width: 282px;
}
.tabheading{
    display: flex;
    align-items: center;
    gap: 8px;
}
.tabheading h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #1D1DD8;

}
.userinfo {
    gap: 33.67px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

 .userprofile{
    display: flex;
    justify-content: center;
    position: relative;

}

 .profileimg{
    border-radius: 100px;
    aspect-ratio: 1;
    scale: 1;
    width: 130px;
}
 .editsvg{
    z-index: 100;
    left: 50%;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(29,29,216,0.86);
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

:global form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 33.67px;
    padding: 16px 0 16px 16px;
    width: 100%;
}

:global label{
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    width: 97%;
}

:global .input{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 91.5%;
    height: 42px;
    border: none;
    border-radius: 8px;
    background-color: #EFEFEF;
    cursor: pointer;
}

 .phonenumberinputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

:global input[type="number"]{
   width: 90%;
}



:global select{
   width: 88px;
   height: 42px;
}

 .userinfo{
    display: flex;
    flex-direction: column;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 7%;
}

 .savebtn{
    width: 40%;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: #1D1DD8;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #FEFEFE;
    text-transform: capitalize;
    font-size: 14px;
    cursor: pointer;

 }
 .discardbtn{
    width: 40%;
    height: 56px;
    border-radius: 8px;
    background-color: transparent;
    border:1px solid #1D1DD8;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #1D1DD8;
    text-transform: capitalize;
    font-size: 12px;   
     cursor: pointer;

 }




.edit-account .user-info .user-details-form form label .phone-number-inputs input[type="tel"] {
    width: 462px;
    padding: 12px 24px;
    grid-gap: 20px;
    gap: 20px;
}

@media screen and (max-width: 1250px){
        
    .savebtn{
        width: 42%;
        height: 56px;
        border: none;
        border-radius: 8px;
        background: #1D1DD8;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        color: #FEFEFE;
        text-transform: capitalize;
        font-size: 14px;
        cursor: pointer;
    
     }
     .discardbtn{
        width: 42%;
        height: 56px;
        border-radius: 8px;
        background-color: transparent;
        border:1px solid #1D1DD8;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        color: #1D1DD8;
        text-transform: capitalize;
        font-size: 12px;   
         cursor: pointer;
    
     }

}