.css-b62m3t-container {
	position: relative;
}
.css-b62m3t-container .css-1s2u09g-control {
	background: #efefef;
	height: 42px;
	width: 100%;
	border: none;
}
.css-b62m3t-container .css-1pahdxg-control {
	background: #efefef;
	height: 42px;
	width: 100%;
	border: none;
}

.css-6j8wv5-Input {
	margin: unset;
	padding-bottom: unset;
	padding-top: unset;
	grid-area: 1/1/2/3;
	height: 42px;
}
.css-319lph-ValueContainer {
	background: transparent;

	height: 42px;
}
.css-6j8wv5-Input {
	background: transparent;

	margin: 0;
	height: 42px;
	padding-bottom: 0;
	padding-top: 0;
}

@media screen and (max-width: 1000px) {
	.css-b62m3t-container .css-1s2u09g-control {
		width: 81%;
	}
}
