.Security{
    width: 100%;
    background-color: #DADADA;
}
.Security p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.Header1{
    margin-top: 97px;
    margin-bottom: 43px;
}
.MainSection{
    margin: 32px auto;
    width: 90%;
    display: flex;
    gap: 5%;
    margin: auto;
}
.LeftSection{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.LeftSection img{
    height: 35px;
    width: 35px;
}
.LeftSection h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}
.LeftSection div{
    height: 150px;
    border-bottom: 1px solid blue;
    
}
.LeftSection section{
    margin: 2%;
}
.AccountSelector, .NotificationSelector, .AppearanceSelector{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.TextSection a{
    text-decoration: none;
    color: black;
}
.SecuritySelector{
    display: flex;
    background-color: #F7F7FE;
    justify-content: center;
    align-items: center;
}

.RightSection{
    margin-top: 62px;
    width: 50%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 4%;
    padding-right: 4%;
}
.Header2{
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.TwoFactorAuth, .VerifyEmail{
    display: flex;
    gap: 10%;
}
.TwoFactorAuth section, .VerifyEmail section{
    width: 69%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.TwoFactorAuthForms input{
    width: 90%;
    height: 40px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid gray;
    padding-left: 5%;
    font-weight: bold;
}
.TwoFactorAuthForms button{
    width: 30%;
    height: 40px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    background-color: #1D1DD8;
    color: white;
    font-weight: bold;
}
.TwoFactorAuthForms button:hover{
    background-color: rgba(255, 255, 255, 0.41);
    color: #1D1DD8;
    border: 1px solid #1D1DD8;
}
.TwoFactorAuth button, .VerifyEmail button{
    width: 21%;
    height: 60px;
    background-color: #1D1DD8;
    color: white;
    border: none;
    border-radius: 4px;
}
.TwoFactorAuth button:hover, .VerifyEmail button:hover{
    background-color: rgba(255, 255, 255, 0.41);
    color: #1D1DD8;
    border: 1px solid #1D1DD8;
}

.SecurityForm{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.SecurityForm p{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    
}


.WalletSection, .CurrentPassword, .NewPassword, .ConfirmPassword{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.WalletSection input, .CurrentPassword input, .NewPassword input, .ConfirmPassword input{
    width: 60%;
    height: 42px;
    border-radius: 8px;
    border: none;
    padding-left: 4%;
}
.ButtonSection{
    display: flex;
    margin-bottom: 32px;
}
.SaveButton{
    width: 60%;
    height: 42px;
    background-color: #1D1DD8;
    border: none;
    border-radius: 8px;
    margin-right: 4%;
    color: white;
}
.SaveButton:hover{
    background-color: rgba(255, 255, 255, 0.41);
    color: #1D1DD8;
    border: 1px solid #1D1DD8;
}
.DiscardButton{
    width: 60%;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.41);
    border: 1px solid #1D1DD8;
    border-radius: 8px;
    margin-right: 4%;
    color: #1D1DD8;
}
.DiscardButton:hover{
    background-color: #1D1DD8;
    color: white;
}
@media screen and (max-width: 850px) {
    .LeftSection{
        width: 15%;
    }
    .TextSection{
        display: none;
    }
    .RightSection{
        width: 85%;
    }
}
@media screen and (max-width: 480px) {
    .Security h1{
        font-size: 18px;
    }
    .Security p{
        font-size: 16px;
    }
}
@media screen and (max-width: 360px) {
    .MainSection{
        display: flex;
        flex-direction: column ;
    }
    .Header1{
        display: block;
        margin-bottom: 8px;
    }
    .LeftSection{
        width: 100%;
        margin: 16px auto 0 auto;
    }
    .Selectors{
        display: flex;
        height: 40px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .RightSection{
        width: 100%;
        padding: auto;
    }
    .TwoFactorAuth section, .VerifyEmail section{
        width: 100%;
    }
    .TwoFactorAuth, .VerifyEmail{
        display: flex;
        flex-direction: column;
    }
    .WalletSection input, .CurrentPassword input, .NewPassword input, .ConfirmPassword input, .TwoFactorAuth button, .VerifyEmail button{
        width: 100%;
    }
    .ButtonSection{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .ButtonSection button{
        width: 100%;
    }
}
