.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: start;
	gap: 30px;
	max-width: 1300px;
	margin: 0 auto;
}

.profile {
	font-size: 16px;
	padding: 40px;
}

.aside {
	padding-right: 20px;
	margin-bottom: 60px;
}

.components {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (max-width: 1000px) {
	.container {
		grid-template-columns: 1fr;
	}

	.aside {
		display: none;
	}
}

@media (max-width: 450px) {
	.profile {
		padding: 40px 30px;
	}
}
