.stats__data {
	padding: 3.25rem;
}
.profile__cardwrapper {
	padding: 0 2.5rem 2.5rem 2.5rem;
	position: relative;
	height: fit-content;
}
.card {
	margin-top: 1.5rem;
	overflow: hidden;
	border: 1px solid #d6d6d6;
	border-radius: 10px;
	width: fit-content;
}
.card-btn__wrapper {

	padding: 1rem 3.2rem;
=======
	padding: 1rem 3.2rem;

}
.posts__wrapper {
	position: absolute;
	right: 2.5rem;
	top: -1.5rem;
	z-index: -1;
}
@media (max-width: 1200px) {
	.posts__wrapper {
		position: relative;
		top: 0;
		right: 0;
	}
	.profile__cardwrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
@media (max-width: 600px) {
	.card {
		width: 100%;
	}
	.card * {
		font-size: 0.75rem;
	}
	.stats__data {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
		padding: 1rem 0.8625rem;
	}
	.profile__cardwrapper {
		padding: 1.5rem;
	}
}
