@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}
.contact_head_text{
  font-size: 24px;
  font-weight: 600;
  color: #1d1dd8;
}
.contact_sub_text{
  font-size: 14px;
  font-weight: 400;
 line-height: 40px;
 padding-bottom: 40px;
}
.contact_wrap {
  width: 100%;
  margin: 0;
  padding: 0;
}
.contact_first_wrap {
  width: 80%;
  height: 60vh;
  color: #ffffff;
  padding: 0 10%;
  background-color: #1d1dd8;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contact_first_wrap p {
  font-size: 64px;
  font-weight: 400;
  line-height: 40px;
}
.contact_first_wrap span {
  width: 55%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.contact_form_container {
  width: 94%;
  padding: 100px  3% 0 3% ;
  display: flex;
 
}
.contact_text_wrap{
  padding-bottom: 20px;
  border-bottom: 1px solid #989898;
  transform: rotate(-0.12deg);
}
.contactus_form_wrap p {
  font-size: 32px;
  font-weight: 600;
  color: #1d1dd8;
  line-height: 30px;
}

.contactus_form_wrap {
  width: 40%;
  padding: 0 5%;
}
.contactus_form_wrap1 {
  width: 100%;
}

.contactus_form_wrap1 span {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}
.contact_logo_images {
  display: flex;
  height: 150px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.contact_logo_images img {
  width: 120px;
  height: 25px;
}
.form_wrap {
  width: 40%;
  padding: 0 5% 30px 5%;
  margin: 0 0 30px 0;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.form_wrap p {
  font-size: 32px;
  font-weight: 600;
  color: #1d1dd8;
}

.form_wrap span {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.form_wrap input {
  width: 95%;
  height: 30px;
  padding: 2px 2.5%;
  border: 1px solid rgba(10, 10, 10, 0.2);
  background-color: #ffffff;
  border-radius: 8px;
  outline: none;
  color: #757575;
  margin: 20px 0;
}
.contact_input_message {
  width: 95%;
  height: 60px;
  padding: 7px 2.5%;
  border: 1px solid rgba(10, 10, 10, 0.2);
  background-color: #ffffff;
  border-radius: 6px;
  outline: none;
  color: #757575;
  resize: none;
  margin: 20px 0;
}
.contact_team_wrap{
  width: 40%;
  padding:0 0 5vh 7.5%;
  position: relative;
  top: -300px;
  left: 0;

}
.contact_team_wrap p {
  font-size: 32px;
  font-weight: 600;
  color: #1d1dd8;
}
.send_message_button{
  width: 100%;
  height: 48px;
  background-color: #1d1dd8;
  border : none;
  font-size: 1.2rem;
  font-weight: 400;
  color: #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin: 20px 0;
  font-family: "Rubik", sans-serif;
}
.contact_marketing_wrap{
  width: 90%;
  padding: 0 5%;
  display:  flex;
  align-items: center;
  justify-content: space-evenly;
  position:  relative;
  top: -200px;
  left: 0;
}
.contact_marketing_wrap div{
  width: 45%;
}
.contact_marketing_ul{
  margin: 0;
  padding: 0;
}
.contact_marketing_text_wrap{
  width: 100%;
  margin-top: 10px;
}
.contact_marketing_text_head{
  line-height: 80px;
}
.contact_marketing_ul li{
  list-style: none;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;

}
.contact_marketing_ul li img{
  padding: 0 20px 0 0;
}
.marketing_mail_link{
   text-decoration: none ;
   color: #1d1dd8;
}

@media only screen and (max-width:1100px){
    .contact_team_wrap{
        top: -250px
    }
}
@media only screen and (max-width:820px){
  .contact_first_wrap{
    height: 40vh;
    justify-content: center;
  }
  .contact_team_wrap{
    top: 0;
  }
  .contact_text_wrap span{
    font-size: 12px;
  }
  .contact_first_wrap p {
    font-size: 30px;
  }
  .contact_first_wrap span{
    font-size: 12px;
  }
}
@media only screen and (max-width:1024px){
  .contact_marketing_wrap{
    top: 0;
    flex-direction: column;

  }
  .contact_team_wrap{
    width: 90%;
  }
  .contact_marketing_wrap div{
    width: 95%;
    padding: 0 5%;
    
  }
}
@media only screen and (max-width:480px) {
  .contact_first_wrap{
    height:45vh;
    align-items: center;
    justify-content: center;
  }
  .contact_first_wrap p{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
  .contact_first_wrap span{
    width: 100%;
    font-size: 12px;
    font-weight: 400;
  }
  .contact_form_container{
    flex-direction: column;
  }
  .contact_form_container div{
    width: 93%;
  }
  .contactus_form_wrap p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
  }
  .form_wrap{
    width: 90%;
    padding: 30px 5%;
    margin: 30px 0 0 0;
  }
  .contact_team_wrap{
    width: 85%;
    padding: 0 5%;    
    top: 0;
    
  }
  .contact_logo_images{
    align-items: flex-start;
    justify-content: space-between;
  }
  .contact_logo_images img {
    width: 30%;
    padding: 10px 0;
    
  }
  .contact_team_wrap p {
    font-size: 18px;
    line-height: 40px;
  }
  .contact_marketing_wrap{
    width: 95%;
    padding: 0 2.5%;
    top: 0;
    flex-direction: column;
    justify-content: center;
  }
  .contact_marketing_wrap div{
    width: 80%;
  }
  .contact_marketing_img{
    width: 100%;
  }
}