.helpheader {
	margin-left: 0px;
	border-bottom: 0.5px solid #282828;

	width: 100%;
}
.help_center_page{
	margin: 64px;
}
.content{
	display: flex;
	flex-direction: row;
	gap: 115px;
}
.articlehead{
	padding-top: 0;
	width: 72.2%;

}
.list{
	width: 100%;
}
.list_container{
	width: 100%;
	min-width: 289px;
	height: 338px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 0;
}
.directory{
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	font-family: 'Rubik';
	color: #535353;
	margin-bottom: 64px;

}
.headercontainer{
	width: 100%;
	border-bottom: 0.5px solid #282828;
}
.helpheader h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	color: #303030;
	text-align: left;
	padding: 0px 0px 25px 0;
}

.helpheader p {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 180%;
	color: #535353;
	text-align: left;
	padding: 18px 0;
}

.helpbody {
	margin-left: 30px;
}

.article h3 {
	font-style: normal;
	width: 72.85%;
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
	text-align: left;
	padding:  0;

	color: #303030;
}

.helpbody h4 {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #535353;
	text-align: left;
	padding: 18px 0;
}

.helpbody p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #535353;
	text-align: left;
	padding: 15px 0;
}

.btn {
	background-color: #fefefe;
	color: black;
	text-decoration: none;
	box-sizing: border-box;
	width: 95%;
	flex-direction: column;
	align-items: center;
	display: flex;
	height: 200px;
	border: 1px solid #989898;
	border-radius: 4px;
	padding-top: 50px;
	margin-top: 30px;
	text-align: center;
}

.grid :hover {
	border: 1px solid #989898;
	box-shadow: 0px 2px 14px rgba(130, 130, 205, 0.5);
	border-radius: 4px;
}

.grid {
	display: grid;
	gap: 20px;
	text-decoration: none;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	margin-left: 30px;
}

.lowerdivhelp {
	margin-top: 48px;
}
.lowerdivsupport{
	margin-bottom: 16px;

}
.link{
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	font-family: 'Rubik';
	padding-left: 32px;
	color: #535353;
}
.link:visited{
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Rubik';
	border-left: 2px solid #1D1DD8;
	color: #535353;
}
.link[data-expanded='true']{
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Rubik';
	border-left: 2px solid #1D1DD8;
	color: #535353;
}
/* .link:link{
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Rubik';
	border-left: 2px solid #1D1DD8;
	color: #535353;
} */

.helpsupport{
	background: #1D1DD8;
	border-radius: 4px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	padding: 16px 32px;
	color: #FEFEFE;
	border: none;
}
.helpsupport:hover{	
	background: #7070FC;
}




@media (max-width: 930px) {
	.list{
		display: none;
	}
	.helpheader h2 {
		font-size: 32px;
		line-height: 540x;
	}
	.articlehead{
		padding-top: 0;
		width: 100%;
	
	}
	.help_center_page{
		margin: 15px;
	}
	.helpheader p {
		font-size: 14px;
		line-height: 180%;
	}
	.article h3 {
		width: 100%;
		font-size: 16px;
		line-height: 24px;

	}
	.lowerdivhelp {
		margin-top: 40px;
	}
	.lowerdivsupport{
		margin-bottom: 8px;
	
	}
	.lowerdivsupport h3{
		font-size: 18px;
	}
	.helpsupport{
		font-size: 16px;
		line-height: 28px;
		padding: 12px 24px;
		color: #FEFEFE;
		border: none;
	}
	.directory{
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		font-family: 'Rubik';
		color: #535353;	
	}
}
