.Help{
	width: 100%;
}
.MainSection{
	width: 90%;
	margin: 0 auto;
}
.HelpTitle{
	margin-top: 40px;
	text-align: center
}
.HelpTitle h1{
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: 0em;
}
.HelpTitle p{
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0px;
}
.HelpBoxes{
	margin-top: 120px;
	display: flex;
	justify-content: space-evenly;
}
.HelpBoxes div{
	width: 30%;
	min-height: 296px;
	border: none;
	box-shadow: 1px 2px 5px gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 18px;
	font-size: 18px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0px;

}
.HelpBoxes img{
	width: 56px;
	height: 56px;
}
.QASection{
	margin-top: 120px;
	margin-bottom: 120px;
	display: flex;
	justify-content: space-evenly;
}
.QASection button{
	background-color: white;
	border: none;
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
	letter-spacing: 0em;
	margin-bottom: 24px;
}
.QASection div{
	width: 46%;
}
.Arrow img{
	margin-top: -30px;
	height: 542px;
}
.QASection p{
	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0em;
	margin-top: 16px;
	margin-bottom: 24px;
}
.QASection div aside{
	box-shadow: 1px 2px 8px gray;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 10px;
}
.HelpExtra{
	min-height: 364px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
	color: white;
	background-color: #492B7C;
	text-align: center;
}
.HelpExtra div{
	display: flex;
	/* flex-direction: row; */
	gap: 8px;
}
.HelpExtra img{
	width: 56px;
	height: 56px;
}
.HelpExtra button{
	width: 16%;
	height: 48px;
	background-color: #8C68CA;
	border-radius: 4px;
	color: white;
	border: none;
}
.HelpExtra button:hover{
	background-color: #7b65a0;
}
@media screen and (max-width: 480px) {
	.HelpBoxes{
		flex-direction: column;
		gap: 8px;
	}
	.HelpBoxes div{
		width: 100%;
	}
	.Arrow{
		display: none;
	}
	.QASection{
		flex-direction: column;
	}
	.QASection div{
		width: 100%;
	}
}
@media screen and (max-width: 360px) {
	.Help img{
		width: 24px;
		height: 24px;
	}
	.HelpTitle h1{
		font-size: 24px;
	}
	.HelpTitle p{
		font-size: 16px;
	}
	.Help h1{
		font-size: 18px;
	}
	.Help button{
		font-size: 16px;
	}
	.Help p{
		font-size: 14px;
	}
	.HelpExtra button{
		width: 50%;
		font-size: 14px;
	}
}