.user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info {
	display: flex;
	align-items: center;
	gap: 8px;
}

.info img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.username a:link,
.username a:visited {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 17px;
	font-weight: 500;
	line-height: 27px;
	color: #1f1f1f;
}

.followers {
	font-size: 15px;
	line-height: 27px;
	color: #6a6a6a;
}

.user .btn {
	outline: none;
	font-size: 14px;
	color: #fefefe;
	background: #492b7c;
	border: 1px solid #492b7c;
	line-height: 22px;
	border-radius: 4px;
	padding: 8px 16px;
	cursor: pointer;
}
