.profile__banner {
	position: relative;
}
.profile__bannerimg {
	background-image: url('../../../../../public/banner.jpg');
	width: 100%;
	height: 13.5rem;
	background-position: center;
	background-size: 100%;
}
.back__icon {
	position: absolute;
	top: 1.5rem;
	left: 4rem;
	width: 3.5rem;
	aspect-ratio: 1/1;
	border-radius: 100%;
	background: rgba(48, 48, 48, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile__name {
	font-style: normal;
	font-weight: 600;
	font-size: 2em;
	line-height: 40px;
}
.profile__location,
.profile__link,
.profile__socials {
	display: flex;
	align-items: center;
	gap: 10px;
}

.profile__userdata {
	display: flex;
	justify-content: space-between;
	padding: 1.75rem 0 0 0;
}
.profile__datawrapper {
	padding: 0rem 1.5rem;
	position: relative;
	top: -30px;
}
.profile__datatxt {
	padding: 1.0738rem 1.2rem;
}
.profile__link {
	color: #4343df;
	cursor: pointer;
}
.profile__location,
.profile__link,
.profile__name,
.profile__username,
.profile__status,
.profile__datejoined,
.profile__socials {
	padding: 4px 0;
	text-align: left;
}
.profile__btnwrapper {
	display: flex;
	gap: 24px;
	align-items: center;
	margin-top: 1rem;
}
.btn2 {
	background: #1d1dd8;
	border-radius: 4px;
	font-size: 0.875em;
	border: none;
	outline: none;
	padding: 0.75rem 1.5rem;
	color: white;
}
* {
	background-color: 2px solid red;
}
@media (max-width: 600px) {
	.profile__image {
		width: 93px;
		aspect-ratio: 1/1;
	}
	.profile__datawrapper {
		top: -20px;
	}
}
