.profile__datawrapper {
	display: flex;
}


.profile__image {
	width: 200px;
	border-radius: 50%;
	vertical-align: top;
	margin-top: -25px;
}
.profile__name {
	font-style: normal;
	font-weight: 600;
	font-size: 2em;
	line-height: 40px;
}
.profile__datejoined,
.profile__location,
.profile__link,
.profile__socials {
	display: flex;
	align-items: center;
	gap: 10px;
}

.profile__userdata {
	display: flex;
	justify-content: space-between;
	padding: 1.75rem 0 0 0;
}
.profile__datawrapper {
	padding: 0rem 1.5rem;
	position: relative;
	top: -30px;
}


.profile__
.profile__link {
	color: #4343df;
	cursor: pointer;
}
.profile__location,
.profile__link,
.profile__name,
.profile__username,
.profile__status,
.profile__datejoined,
.profile__socials {
	padding: 4px 0;
	text-align: left;
}
.profile__btnwrapper {
	display: flex;
	gap: 24px;
	align-items: center;
	margin-top: 1rem;
}
.btn2 {
	border: 1px solid #1d1dd8;
	border-radius: 4px;
	font-size: 0.875em;
	background-color: white;
	padding: 0.75rem 1.5rem;
	color: #1d1dd8;
}
* {
	background-color: 2px solid red;
}

@media (max-width: 1000px) {
	.profile__datatxt, .profile__info, .profile__address {
		flex-direction: column;
	}
	
}
@media (max-width: 600px) {
	.back__icon {
		left: 2rem;
		top: 1rem;
	}
	.profile__image {
		width: 93px;
		aspect-ratio: 1/1;
	}
	.profile__datawrapper {
		top: -20px;
	}
	.profile__datatxt, .profile__info, .profile__address, .profile__datawrapper {
		flex-direction: column;
	}

	/* .profile__btns {
		position: absolute;
		top: 0;
		right: 0;
	} */
	

}

.backarrow {
	background: none;
	border: none;
	cursor: pointer;
}

.profile__datatxt{
	display: flex;
	/* gap: 10px; */
	/* flex-basis: 25%; */
	padding: 1.0738rem 1.2rem;
}


.profile__sociallinks {
	
}



.profile__btns {
	flex-basis: 50%;
		position: absolute;
		top: 0;
		right: 70px;
}
/* .profile__datelocation, */
.profile__followingwallet {
	display: flex;
	gap: 10px;
}

