.tags-section {
	background-color: #f7f7fe;
	padding: 40px 20px;
}

.tags-container {
	max-width: 1250px;
	margin: 0 auto;
}

.header-title {
	font-weight: 600px;
	font-size: 32px;
}

.tags-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	padding: 0 7px;
}

.tags-header__btn-container {
	display: flex;
	gap: 5px;
	margin-left: 15px;
}

.searchfield {
	display: flex;
	align-items: center;
}

.search {
	position: relative;

	display: flex;
	align-items: center;
}

.search__icon {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 12px;
	top: 22px;
	height: 70%;
}

.searchbox {
	padding: 4px;
	border: 1px solid;
	display: hidden;
}

.tags-container input {
	border: none;
}

.tags-container input:focus {
	outline: none;
}

.tags-nav {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	margin-bottom: 30px;
}

.hid {
	display: flex;
	gap: 10px;
}

.button {
	background: #ededff;
	padding: 8px 16px;
	text-decoration: none;
	color: black;
	border: 1px solid #4343df;
	border-radius: 4px;
	cursor: pointer;
}

.tags-nav button {
	background: inherit;
	padding: 8px 16px;
	text-decoration: none;
	color: #757575;
	border: 1px solid #757575;
	border-radius: 4px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, calc(100% / 4 - 20px));
	justify-content: space-between;
	row-gap: 20px;
}

.list {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr;
}

@media screen and (max-width: 1150px) {
	.grid {
		grid-template-columns: repeat(3, calc(100% / 3 - 20px));
	}
	.hidden_1 {
		display: none;
	}
}

@media screen and (max-width: 930px) {
	.grid {
		grid-template-columns: repeat(2, calc(100% / 2 - 15px));
	}
	.hidden_1 {
		display: none;
	}
}

@media screen and (max-width: 870px) {
	.hidden_2 {
		display: none;
	}
}

@media screen and (max-width: 730px) {
	.hidden_3 {
		display: none;
	}

	.header-title {
		font-size: 28px;
	}
}

@media screen and (max-width: 590px) {
	.grid {
		grid-template-columns: 100%;
	}

	.hidden_4 {
		display: none;
	}
}

@media screen and (max-width: 590px) {
	.hidden_5,
	.button {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	.hidden_6 {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.hidden_7 {
		display: none;
	}
}

@media screen and (max-width: 305px) {
	.hidden_8 {
		display: none;
	}
}
