.tags-section {
	background-color: #fefefe;
	/* padding: 40px 60px; */
	width: 95%;
	margin: 2rem auto;
	/* width: 100vw; */
	display: flex;
		gap: 30px;
}

.tags-container {
	/* max-width: 1550px; */
	width: 600px;
	margin: 0 auto;
	flex-basis: 70%;
}

.header-title {
	font-weight: 600px;
	font-size: 32px;
}

.tags-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	padding: 0 7px;
}

.tags-header__btn-container {
	display: flex;
	gap: 10px;
	margin-left: 15px;
}

.searchfield {
	display: flex;
	align-items: center;
}

.search {
	position: relative;

	display: flex;
	align-items: center;
}

.search__icon {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 12px;
	top: 22px;
	height: 70%;
}

.searchbox {
	padding: 4px;
	border: 1px solid;
	display: hidden;
}

.tags-container input {
	border: none;
}

.tags-container input:focus {
	outline: none;
}

.tags-nav {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
	/* padding: 0 10px; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
	margin-bottom: 30px;
	gap: 5px;
}
.tags-nav span{
	display: flex;
	justify-content: center;
	align-items: center;
}

.tags-nav span button{
	width: 95%;
	display: flex;
	justify-content: center;
}

.hid {
	display: flex;
	gap: 10px;
}

.button {
	background: #ededff;
	padding: 8px 16px;
	text-decoration: none;
	color: black;
	border: 1px solid #4343df;
	border-radius: 4px;
	cursor: pointer;
}

.tags-nav button {
	background: inherit;
	padding: 8px 10px;
	text-decoration: none;
	color: #757575;
	border: 1px solid #757575;
	border-radius: 4px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, calc(100% / 2 - 10px));
	justify-content: space-between;
	row-gap: 20px;
}

.list {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr;
}

.sidebar {
	/* flex-basis: 20%; */
}
@media screen and (max-width: 1150px) {
	.grid {
		grid-template-columns: repeat(2, calc(100% / 2 - 10px));
	}
	.hidden_1 {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.grid {
		grid-template-columns: repeat(2, calc(100% / 2 - 15px));
	}
	.hidden_1 {
		display: none;
	}
	.tags-container {
		flex-basis: 90%;
	}
}

@media screen and (max-width: 870px) {
	.hidden_2 {
		display: none;
	}
	.tags-nav {
		grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
		gap: 7px;
	}
}

@media screen and (max-width: 730px) {
	.hidden_3 {
		display: none;
	}

	.header-title {
		font-size: 28px;
	}
}

@media screen and (max-width: 590px) {
	.grid {
		grid-template-columns: 100%;
	}

	.hidden_4 {
		display: none;
	}
}

/* @media screen and (max-width: 590px) {
	.hidden_5,
	.button {
		display: none;
	}
} */

@media screen and (max-width: 450px) {
	.hidden_6 {
		display: none;
	}
	.tags-nav {
		grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
		gap: 10px;
	}
}

@media screen and (max-width: 400px) {
	.hidden_7 {
		display: none;
	}
}

@media screen and (max-width: 305px) {
	.hidden_8 {
		display: none;
	}
}
