.settingscontainer {
	margin: 0 77.5px 0 77.5px;
}
@media screen and (max-width: 1000px) {
	.settingscontainer {
		margin: 0;
		min-width: 290px;
	}
}
@media screen and (max-width: 1200px) {
	.settingscontainer {
		margin: 0;
	}
}
