.header {
	background: white;
}

.textEditor {
	width: 90%;
	margin-bottom: 2rem;
}

.header div h1 {
	font-size: 1.8rem;
	color: #8c68ca;
	text-align: center;
	font-family: Nunito;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: 0em;
	padding-bottom: 16px;
}
.header div p {
	font-size: 1.1rem;
	color: #0a0a0a;
	line-height: 1.5;
	font-weight: 400;
	padding-bottom: 0.5em;
	font-family: Nunito;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: center;
}

.header .steps {
	text-align: left;
	margin-top: 1em;
	margin-left: 0;
}

.header .steps h2 {
	font-size: 1.4rem;
	color: #0a0a0a;
}
.header .steps ul li {
	font-size: 1.1rem;
	line-height: 1.8;
	list-style: disc;
}

.TagsUnorderedList {
	padding: 0em;
}

.container {
	padding: 2em 0em;
}

.container input::-moz-placeholder {
	font-family: 'Rubik', san-serif;
	font-weight: 400;
	color: #989898;
}

.container input:-ms-input-placeholder {
	font-family: 'Rubik', san-serif;
	font-weight: 400;
	color: #989898;
}

.container input::placeholder {
	font-family: 'Rubik', san-serif;
	font-weight: 400;
	color: #989898;
}

.container textarea {
	resize: none;
	min-height: 130px;
	padding: 4em 1.5em;
}

.container .titleWrapper,
.container .problemWrapper,
.container .detailWrapper {
	background: #f6f0ff;
	padding: 1em 0em 0em 1em;
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding-bottom: 20px;
}

.container .titleWrapper div {
	text-align: left;
	padding: 0em 1em 0em 0em;
	padding-left: 60px;
}

.container .problemWrapper {
	padding-left: 40px;
}

.container .titleWrapper div h3 {
	font-size: 1.1rem;
	color: #303030;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
}
.container .titleWrapper div p {
	color: #757575;
	font-size: 0.85rem;
	line-height: 1.5;
	text-transform: capitalize;
	padding-right: 1em;
	padding: 1em 0em;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}
.container .titleWrapper div input {
	border-radius: 8px;
	border: 1px solid #989898;
	padding: 1em;
	width: 90%;
	margin-bottom: 1.2em;
}

.problemdetailhead h3 {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
}

.problemdetailhead p {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}

.container .titleWrapper button,
.container .problemWrapper button {
	background: #492b7c;
	padding: 1em;
	color: #ffffff;
	align-self: flex-start;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.container .problemWrapper .problemContent {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 0em 1em 0em 0em;
}

.container .problemWrapper .problemContent h3 {
	font-size: 1.1rem;
	color: #303030;
	text-align: left;
	margin: 0em;
	padding: 0.5em 0em 0em 0em;
}
.container .problemWrapper .problemContent p {
	color: #757575;
	font-size: 0.85rem;
	line-height: 1.5;
	padding-right: 1em;
	padding: 1em 0em;
}
.container .problemWrapper div textarea {
	border-radius: 8px;
	border: 1px solid #989898;
	width: 90%;
	margin-bottom: 1.2em;
	padding: 1em;
	line-height: 1.6;
	padding-top: 3em;
}

.container .detailWrapper .content {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 1em 1em 1em 1em;
}

.container .detailWrapper .content .textIcons,
.container .problemWrapper .problemdetailhead .textIcons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: -2.4em;
	position: relative;
	margin-left: 1.4em;
}

.container .detailWrapper .content h3 {
	font-size: 1.1rem;
	color: #303030;
	margin: 0em;
	padding: 0.5em 0em 0em 0em;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #303030;
}
.container .detailWrapper .content p,
.container .problemWrapper .problemdetailhead p {
	color: #303030;
	font-size: 0.85rem;
	line-height: 1.5;
	padding-right: 1em;
	margin-bottom: 0.2em;
	padding: 1em 0em;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}
.container .detailWrapper .content textarea {
	border-radius: 8px;
	border: 1px solid #989898;
	width: 88%;
	padding: 1em;
	line-height: 1.6;
	padding-top: 3em;
}

.container .titleWrapper button {
	margin-left: 30px;
}
.container .detailWrapper .content button {
	background: #492b7c;
	padding: 1em;
	color: #ffffff;
	align-self: flex-end;
	border-radius: 4px;
	border: none;
	text-decoration: none;
	cursor: pointer;
}
.container .tagWrapper {
	width: fit-content;
	border: 1px solid #492b7c;
	border-radius: 4px;
	color: #492b7c;
	margin-bottom: 5px;
	margin-top: 20px;
	margin-left: 36px;
}

.container .tagWrapper .tagContent {
	/* display: flex; */
	flex-direction: row;
	padding: 1em 2em;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.container .tagWrapper .tagContent .text {
	font-size: 0.8rem;
	color: #757575;
}
.container .tagWrapper .allTags {
	width: 100%;
	justify-content: flex-start;
	display: flex;
	padding-left: 1.5em;
	flex-wrap: wrap;
}

.allTagsText {
	width: 150px;
	border-radius: 4px;
	background: #d2d2f7;
	color: #757575;
	padding: 0.8em 1.4em;
	font-size: 0.8rem;
	align-items: center;
	display: flex;
	margin: 0.7em;
	margin-left: 38px;
	margin-bottom: 50px;
}
.allTagsButton {
	margin-left: 2.4em;
	background: none;
	border: none;
	cursor: pointer;
	flex: 0 0 50%;
}

.buttonWrapper {
	background: #ffffff;
	padding: 1em;
	margin: 1em 0em;
	text-align: left;
}

.buttonWrapper div button {
	padding: 1em;
	border-radius: 4px;
	margin: 1em;
	outline: none;
	cursor: pointer;
}
.buttonWrapper div .review {
	background: #492b7c;
	color: #ffffff;
	border: none;
}
.buttonWrapper div .discard {
	background: #ffffff;
	color: #492b7c;
	border: 1px solid #492b7c;
}

.containerWrapper {
	padding-block: 5em;
	position: relative;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	min-height: 180vh;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
	padding: 6em 1em;
}

.response {
	text-align: center;
}

.response p {
	margin: 1em 0em;
}

.modal {
	position: relative;
	background: white;
	border-radius: 7px;
	padding: 1rem 2rem;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 60%;
	margin: 0 auto;
	border: 1px solid #989898;
	margin-inline: 15%;
}

.modal div {
	padding: 0.7em 0em;
	flex: 0 0 90%;
}

.modalButton {
	padding: 1em;
	color: #ffffff;
	align-self: flex-end;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	margin-right: 1.5em;
}

.modalSubmit {
	background: #492b7c;
	color: #ffffff;
}

.modalCancel {
	background: red;
	color: #ffffff;
}

.tagsButton {
	background: none;
	border: none;
	cursor: pointer;
}

.tagsWrapper {
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 5px;
	padding: 1em 3.5em;
	position: absolute;
	margin-top: -21em;
	margin-left: 5em;
	border: 1px solid #d6d6d6;
	max-height: 300px;
	overflow-y: scroll;
}

.tagsWrapper button {
	cursor: pointer;
	background: white;
	color: #0a0a0a;
	padding: 1em;
	border: none;
	outline: none;
}

.modalContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.ErrorBody {
	color: red;
	font-weight: 600;
	font-size: 1rem;
	font-style: italic;
}

.postWrapper {
	display: flex;
	flex-direction: column;
	margin: 1.5em;
	justify-content: center;
	padding-bottom: 1.5em;
}

.postWrapper .tagContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0em 2em 0em 0em;
}

@media (min-width: 1400px) {
	.container .problemWrapper .problemContent {
		padding: 1.2em 0em 0em 1.5em;
	}
}

@media (max-width: 1100px) {
	.container .tagWrapper {
		flex-direction: column;
	}
	.container .tagWrapper .tagContent {
		justify-content: center;
	}

	.container .tagWrapper .tagContent:nth-child(2) {
		border-top: 1px solid #d6d6d6;
	}
}

@media (min-width: 1000px) {
	.postWrapper {
		flex-direction: row;
		justify-content: center;
	}
	.postWrapper .tagContent:nth-child(2) {
		margin-left: 5em;
	}
}

@media (min-width: 850px) {
	.header div {
		margin: 0 auto;
	}
	.header div p {
		margin: 0 auto;
		max-width: 100%;
		line-height: 1.6;
		font-weight: 500;
	}
	.header .steps {
		margin: 1.4em;
		display: inline-block;
		margin-left: 1em;
	}
	.container textarea {
		min-height: 180px;
	}

	.container .titleWrapper div {
		padding: 1.2em 0em 0em 1.5em;
	}

	.container .detailWrapper .content {
		padding: 1.2em 0em 0em 2em;
	}

	.container .tagWrapper .allTags {
		padding-left: 4em;
		/* display: flex; */
		align-items: center;
	}
	.container .detailWrapper .content .textIcons,
	.container .problemWrapper .problemdetailhead .textIcons {
		max-width: 27%;
	}
	.containerWrapper {
		max-width: 1500px;
		padding-inline: 64px;
	}
	.header p {
		padding-inline: 135px;
	}
	.buttonWrapper div {
		margin: 0 auto;
	}
}

@media (max-width: 850px) {
	.header {
		padding-inline: 40px;
	}
}
