.wallet_container {
	padding: 1rem;
	margin-top: 2rem;
	/* margin-bottom: 2rem; */
	color: #ffffff;
	border-radius: 1rem;
	background: #1d1dd8;
	/* display: flex; */

	width: 100%;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 2rem;

	/* @media (min-width: 768px) {
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
  } */
}

@media (min-width: 768px) {
	.wallet_container {
		padding-top: 3rem;
		padding-bottom: 3rem;
		padding-left: 2rem;
		width: 33.333333%;
		/* margin-top: 3rem;
    margin-bottom: 3rem; */
		/* flex-direction: column; */
	}
}

.wallet_label_text {
	font-weight: 600;
	font-size: 16px;
	text-align: left;
}

.wallet_ammount_text {
	font-weight: 600;
	font-size: 24px;
}
.wallet_label_text {
	@media (min-width: 1024px) {
		font-weight: 600;
		font-size: 16px;
	}
}

.ammount_tokens {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

@media (min-width: 768px) {
	.ammount_tokens {
		flex-direction: column;
		align-items: flex-start;
	}
}
/* wallet token -> 5  */
/* .wallet_token {
    @apply text-base;
   }
} */
