.form-button {
	background-color: #492B7c;
	border: unset;
	color: #fefefe;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	padding: 16px 200px;
	display: block;
	width: 100%;
	border-radius: 8px;
}

.form-button:hover {
	cursor: pointer;
}
