.form-button {
	background-color: #1d1dd8;
	border: unset;
	color: #fefefe;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
	padding: 16px 16px;
	display: block;
	width: 100%;
	border-radius: 8px;
}

.form-button:hover {
	cursor: pointer;
}
