* {
  max-width: 1200px;
  margin: 0px auto;
}
.main-wrap {
  background-color: aqua;
}
.detail-image {
  display: flex;
  flex-direction: row;
}
.h1-p-btn-div {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 62px;
  margin: 10px 0px;
}
span {
  color: blue;
}
p {
  height: 72px;

  /* Text Large */

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* margin: 10px 0px; */
  /* line-height: 24px; */
  /* or 133% */
}
button {
  width: 148px;
  height: 60px;
  border: #1d1dd8;
  color: white;
  margin: 10px 0px;

  /* Primary Color */

  background: #1d1dd8;
  border-radius: 4px;

  /* Inside auto layout */
}
img {
  width: 643px;
  height: 464.75px;

  border-radius: 4px;
}
.mid-page {
  display: flex;
  flex-direction: column;
  /* margin: 20px 0px; */
}
/* .mid-3boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
.mid-3boxes {
  display: flex;
  justify-content: space-between;
  width: 1312px;
}
.midbox {
  border: 1px solid black;
  height: 150px;
  width: 300px;
  padding: 20px;

  /* margin: 20px; */
}
h4 {
  height: 30px;
  align-items: center;
  padding: 0 10%;
}
.midbox p {
}
