* {
  max-width: 1200px;
  margin: 0px auto;
}
.detail-image {
  display: flex;
  flex-direction: row;
}
.h1-p-btn-div {
  display: flex;
  flex-direction: column;
}
h1 {
  display: flex;
  justify-items: flex-start;
}
button {
  padding: 16px 32px;

  width: 148px;
  height: 60px;
  border: #1d1dd8;
  color: beige;

  /* Primary Color */

  background: #1d1dd8;
  border-radius: 4px;

  /* Inside auto layout */
}
.Mentor-Image {
  width: 643px;
  height: 464.75px;

  border-radius: 4px;
}
