@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

.VerifyIcon {
    width: 20.01px;
    height: 20px;
    margin-left: 12.01px;
    margin-top: -2px;
  }


  @media only screen  and (max-width: 1015px) {
    .VerifyIcon {
      width: 11.44px;
      height: 11.43px;
      margin-left: 12.01px;
      margin-top: 1px;
    }
  }


  @media only screen  and (max-width: 768px) {
  .VerifyIcon {
    width: 11.44px;
    height: 11.43px;
    margin-left: 12.01px;
    margin-top: 8.8px;
  }
}
