.headerContainer {
	background: #fff;
	padding: 24px 0 20px 0;
}

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left {
	display: flex;
	align-items: center;
	gap: 26px;
}

.search {
	padding: 16px;
	background: #ffffff;
	border: 0.5px solid #b4b4b4;
	border-radius: 16px;
	display: flex;
	align-items: center;
	gap: 16px;
}

.search input {
	border: none;
	outline: none;
}

.brand {
	display: flex;
	gap: 26px;
	align-items: center;
	color: #1d1dd8;
	font-weight: 700;
	font-size: 33.9202px;
	line-height: 40px;
	cursor: pointer;
	text-decoration: none;
}

.right {
	display: flex;
	align-items: center;
}

li {
	list-style: none;
}

.links {
	display: flex;
	gap: 5px;
	transition: all 0.3s ease-in;
	padding-right: 20px;
}

.link,
.link:active,
.link:visited {
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #4343de;
}

.icon {
	stroke: #7d7d92;
	color: transparent;
}

.link {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 8px 16px;
	border-radius: 36px;
}

.link span {
	visibility: hidden;
}

.isActive .link {
	background: rgba(67, 67, 222, 0.1);
}

.isActive .link span {
	visibility: visible;
}

.isActive .icon {
	color: #4343de;
	fill: #4343de;
}

.rest {
	display: flex;
	align-items: center;
	gap: 32px;
	border-left: 1px solid #b4b4b4;
	padding-left: 20px;
}

.user {
	display: flex;
	align-items: center;
	gap: 8px;
}

.avatar {
	position: relative;
}

.avatar::after {
	content: '';
	display: inline-block;
	width: 14px;
	padding-bottom: 14px;
	position: absolute;
	bottom: 4px;
	right: -5px;
	background: #fff;
	border-radius: 50%;
}

.avatar::before {
	content: '';
	display: inline-block;
	width: 8px;
	padding-bottom: 8px;
	position: absolute;
	bottom: 6px;
	right: -2px;
	background: #18b368;
	border-radius: 50%;
	z-index: 1;
}

.nameStatus {
	color: #1f1f1f;
	font-size: 16px;
}

.nameStatus span {
	font-size: 13px;
}

/*  */
/* mobile */
/*  */

@media only screen and (max-width: 1482px) {
	.brand {
		gap: 16px;
		font-size: 22.0259px;
		line-height: 26px;
	}

	.search {
		display: none;
	}

	.links {
		display: none;
	}

	.rest {
		gap: 2px;
		border-left: none;
		padding-left: 0;
	}

	.sortIcon {
		display: none;
	}

	.nameStatus {
		display: none;
	}
}
