.link{
    text-decoration: none;
    color: #9090eb;
    font-size: 24px;
    font-family: 'Rubik';
    width: 100%;
}

.nav_container{
    position: relative;
    width: 25vw;
}
.nav{
    padding: 2em;
    width: 18vw;
    border-right: 1px solid gray;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5em;
    position: fixed;
}