.newsletter {
	background-color: #492B7C;
	width: 90%;
	margin: 2rem auto;
	padding: 2.5rem;
}

.newsletter h3 {
	font-weight: 700;
	font-size: 32px;
	margin: 1.2rem 0;
	font-family: 'Nunito';
	line-height: 40px;
	color: #FFFFFF;
	text-align: center;
}

.newsletter p {
	font-size: 16px;
	line-height: 28px;
	font-family: 'Nunito';
	text-align: center;
	color: #FFFFFF;
}

.newsletter div input {
	padding: 24px 16px;
	width: 80%;
	outline: none;
	background: #ffffff;
	border-radius: 8px 0px 0px 8px;
	border: 1px solid #ffffff;
	font-family: 'Nunito';
}

.newsletter input::placeholder {
	color: #000000;
	font-family: 'Nunito';
	font-weight: 500;
	font-size: 20px;
}
.subscribe {
	display: flex;
	width: 80%;
	margin: 2rem auto;
}
.newsletter .btn button {
	background: #8c68ca;
	border: 1px solid #8c68ca;
	border-radius: 8px;
	padding: 24px 16px;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #ffffff;
	margin-left: -10px;
}


@media (max-width: 768px) {
	.newsletter {
		padding: 2rem;
	}
	.newsletter h3 {
		font-size: 26px;
	}
	.newsletter p {
		font-size: 14px;
	}
	.subscribe {
		width: 95%;
		margin: 2rem auto;
	}
	.newsletter input::placeholder {
		font-size: 0.7rem;
	}
	.newsletter .btn button {
		font-size: 0.7rem;
		margin-left: -5px;
		
	}
}

@media (max-width: 427px) {
	.newsletter {
		padding: 1rem;
	}
	.subscribe {
		width: 100%;
		margin: 2rem auto;
	}
	.newsletter div input {
		padding: 10px 16px;
	}
	.newsletter .btn button {
		padding: 10px 16px;
	}
	
}

