.button{
    background-color: aliceblue;
    border: 1px  solid gray;
    margin: 5px;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;

}
.button_list{
    background-color: aliceblue;
    border: 1px  solid gray;
    margin: 5px;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;


}