.TermsOfUseBody{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

.TermsOfUse {
	width: 88%;
	display: flex;
	flex-direction: column;
	gap: 64px;
	margin: 64px auto;
	font-family: 'Rubik', sans-serif;
	color: #3c4458;
	background-color: white;
}
.Heading {
	font-size: 32px;
	font-weight: 600;
	line-height: 40px;
	text-align: left;
}
.RequirementsSection {
	display: flex;
}
.RequirementsSection h2 {
	width: 30%;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}
.RequirementsSection p {
	width: 70%;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
.AgreementSection {
	display: flex;
}
.AgreementSection h2 {
	width: 30%;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}
.AgreementSection p {
	width: 70%;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
.StandardSection {
	display: flex;
}
.StandardSection h2 {
	width: 30%;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}
.StandardSection p {
	width: 70%;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
.CopyrightSection {
	display: flex;
}
.CopyrightSection h2 {
	width: 30%;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}
.CopyrightSection p {
	width: 70%;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
.BillingSection {
	display: flex;
}
.BillingSection h2 {
	width: 30%;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}
.BillingSection p {
	width: 70%;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
.BillingSectionPar {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

@media screen and (max-width: 768px) {
	.RequirementsSection h2,
	.AgreementSection h2,
	.StandardSection h2,
	.CopyrightSection h2,
	.BillingSection h2 {
		font-size: 18px;
	}
	.RequirementsSection p,
	.AgreementSection p,
	.StandardSection p,
	.CopyrightSection p,
	.BillingSection p {
		font-size: 14px;
	}
}
@media screen and (max-width: 480px) {
	.heading {
		margin-top: 32px;
	}
	.RequirementsSection,
	.AgreementSection,
	.StandardSection,
	.CopyrightSection,
	.BillingSection {
		display: flex;
		flex-direction: column;
	}
	.RequirementsSection h2,
	.AgreementSection h2,
	.StandardSection h2,
	.CopyrightSection h2,
	.BillingSection h2 {
		width: 100%;
		font-size: 16px;
		font-weight: bold;
		line-height: 32px;
		letter-spacing: 0px;
		text-align: left;
		margin-bottom: 0;
	}

	.RequirementsSection p,
	.AgreementSection p,
	.StandardSection p,
	.CopyrightSection p,
	.BillingSection p,
	.update {
		margin-top: 16px;
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		text-align: left;
		margin-bottom: 0;
	}
}
