.ymlPost {
	display: flex;
	align-items: flex-start;
	gap: 6px;
}

.ymlPost img {
	width: 60px;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.title a:link,
.title a:visited {
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	line-height: 27px;
	color: #303030;
}

.replies {
	font-size: 16px;
	line-height: 22px;
	color: #6a6a6a;
}
