.container {
	/* display: flex; */
	padding: 1.5rem 1rem;
	margin-top: 3rem;
	/* flex-direction: column; */
	border-width: 2px;
	border: 1px solid rgba(51, 51, 51, 0.5);
	border-radius: 16px;
	border-color: rgba(51, 51, 51, 0.5);
	background-color: #ffffff;
}

.transaction_header {
	display: flex;
	margin-bottom: 1rem;
	justify-content: space-between;
}
.header_title {
	font-size: 1.1rem;
	font-weight: 600;
}

.header_button {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 0.8rem;
}

.withdraw{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.date{
	font-size: 0.75rem;
}
.date p{
	margin: 0.5rem 0;
}

.date h5{
	font-size: 0.8rem;
	margin-left: 5px;
}

.code{
	text-align: right;
}

.date hr{
	border: 0.5px solid #989898;
	background-color: #989898;
}





/* .container {
	display: flex;
	padding: 1rem;
	margin-top: 3rem;
	flex-direction: column;
	border-radius: 1rem;
	border-width: 2px;
	border: 1px solid #000000;
	border-color: #000000;
	background-color: #ffffff;
}

@media (min-width: 1024px) {
	.container {
		width: 33.333333%;
	}
}





.date_time {
	margin-bottom: 1rem;
}

.date {
	padding-bottom: 1rem;

	text-align: left;
}

.time {
	text-align: left;
}

.history_container {
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
	justify-content: space-between;
	border-bottom: 0.5px solid #757575;
}

.history_container_img {
	height: 2rem;
}

@media (min-width: 768px) {
	.history_container {
		align-items: center;
		gap: 2rem;
	}
}

.history__grouping {
	text-align: right;
	font-size: medium;
}

@media (min-width: 768px) {
	.history__grouping {
		display: flex;
		justify-content: space-between;
		gap: 6rem;
		font-size: smaller;
	}
}
@media (min-width: 1024px) {
	.history__grouping {
		display: block;
	}
} */
