.statsrow {
	gap: 40px;
	width: 16rem;
	justify-content: left;
	text-align: left;
	
}
.statscol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.statscol * {
	padding: 0.5rem 0;
}
.stats__value {
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 56px;
	text-align: center;
}
.stats__txt {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}
@media (max-width: 600px) {
	.statsrow {
		margin: auto;
	}
	.stats__value {
		font-size: 1.125rem;
	}
	.stats__txt {
		font-size: 0.75em;
	}
	.statsrow {
		width: 100%;
	}
	.statscol * {
		padding: 0.2rem 0;
	}
}
