.settingsnav {
	display: flex;
	justify-content: space-between;
	padding-top: 24px;
	padding-left: 20px;
	padding-right: 11px;
	padding-bottom: 24px;
	background: #fefefe;
	border-bottom: 1px solid #d6d6d6;
}
:global a {
	text-decoration: none;
}

.Reactsearchbar {
	padding: 16px 16px 16px 40px;
	width: 364px;
	height: 56px;
	border-radius: 16px;
	border: 0.5px solid #b4b4b4;
	background: url('../../assets/settings-image/search-normal.png');
	background-repeat: no-repeat;
	background-size: 6%;
	background-position: 10px;
}

.profilewallet {
	display: flex;
	align-items: center;
	gap: 24px;
}

:global button {
	width: 162px;
	height: 53px;
	border: 1px solid #4343df;
	border-radius: 4px;
	background-color: transparent;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #4343df;
	cursor: pointer;
}
:global button:hover {
	background: #7070fc;
	color: #fefefe;
}
.Avatar {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}

.profile {
	gap: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ProfilePictureTxt {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}
.ProfileContainer {
	position: relative;
	display: flex;
}
.DotMarker {
	position: absolute;
	bottom: 0;
	right: 0;
}
.profiletxt h3 {
	text-align: left;
	margin: 0;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #1f1f1f;
}
.profiletxt {
	text-align: left;
}
.profiletxt span {
	text-align: left;

	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #1f1f1f;
}
@media screen and (max-width: 1200px) {
	.settingsnav {
		display: none;
	}
}
