.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap:0px;
    padding: 0 20px 20px 20px;
    width: 100vw;
    max-width: 1400px;
    background-color: rgba(217,217,217,0.4);

}
.main{

}
@media screen and (max-width: 1200px){
    .flex{
            background-color: transparent;

    }

}

@media screen and (max-width: 1000px){

    .flex{
       padding: 20px;
        background-color: transparent;
    
    }

}