.main {
	width: 90%;
	margin: 1rem auto;
	font-family: 'Nunito';
}
.blognav {
	display: flex;
	width: 20%;
	justify-content: space-between;
	align-items: center;
	font-size: 1.1rem;
	margin: 2rem 0;
}
.blognav h4:first-of-type {
	color: #989898;
}

.searching {
	background-color: transparent;
	border: 0.5px solid #b4b4b4;
	border-radius: 26px;
	display: flex;
	padding: 0.3rem 0.7rem;
	width: 55%;
}
.searching input {
	border: none;
	outline: none;
	background-color: transparent;
	margin-left: 1rem;
}
.search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
}
.sort{
	display: flex;
	width: 40%;
	justify-content: space-between;
	align-items: center;
}
.recent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	padding: 0.3rem 0.7rem;
	background: #e2d9f2;
	border-radius: 4px;
	font-weight: 500;
	font-size: 1rem;
	line-height: 24px;
	color: #303030;
	font-family: 'Nunito';
	font-style: normal;
}

.search p {
	font-weight: 500;
	font-size: 0.9rem;
	line-height: 24px;
	color: #989898;
}

.sectioncard {
	display: flex;
	/* width: 50%; */
	justify-content: space-between;
    /* align-items: center; */
	padding: 0.8rem;
	background: #fefefe;
	border: 1.5px solid #ECECFB;
	/* border: 1.5px solid #8c68ca; */
	box-shadow: 2px 3px 8px rgba(20, 20, 20, 0.05),
		0px 0px 0px rgba(20, 20, 20, 0.05);
	border-radius: 8px;
    position: relative;
}
.sectioncontent{
    width: 67%;
    position: relative;
	margin-left: 10px;
}
.dots{
    position: absolute;
    top: 3%;
    right: 0;
}
.sectioncard h4 {
	font-weight: 700;
	font-size: 1.2rem;
    width: 90%;
	line-height: 30px;
	color: #303030;
    margin-bottom: 0.8rem;
}
.sectioncard .text {
	font-weight: 400;
	font-size: 0.9rem;
	line-height: 22px;
	color: #303030;
    width: 98%;
    margin-bottom: 0.8rem;
}
.sectioncard .text span{
    color: #492B7C;
}
.boxbtn {
	font-weight: 400;
	font-size: 0.7rem;
	line-height: 16px;
    color: #492B7C;
    background: #E2D9F2;
	border-radius: 4px;
	padding: 8px 16px;
    width: 40%;
}
.date{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 0.8rem;
}
.date p {
	font-weight: 400;
	font-size: 0.9rem;
	line-height: 25px;
	color: #757575;
    margin-left: 0.5rem;
}
.num{
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-right: 20px;
}

.GridCard{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
	gap: 20px;
	margin: 2rem 0 0;
	height: 70rem;
	overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: hidden;
}

.GridCard::-webkit-scrollbar {
	display: none;
  }


  @media (max-width:1260px){
	.GridCard{
		grid-template-columns: repeat(auto-fill, minmax(70%, 1fr));
	}
	.sectioncontent{
		width: 80%;
	}
	.boxbtn {
		width: 20%;
	}
  }

  @media (max-width:1100px){
	.blognav{
		width: 40%;
	}
	.search{
		width: 60%;
	}
  }

  @media (max-width:768px){
	.blognav{
		width: 55%;
	}
	.search{
		width: 90%;
	}
	.date{
		display: block;
	}
	.num{
		display: flex;
		justify-content: flex-start;
	}
	.boxbtn {
		width: 50%;
		display: flex;
		justify-content: center;
	}
	.sectioncard h4 {
		font-size: 1rem;
	}
	.sectioncard .text {
		font-size: 0.8rem;
	}
  }


  @media (max-width:500px){
	.sectioncard {
		display: block;
	}
	.sectioncontent{
		width: 95%;
		margin: 1rem auto;
		margin-left: 0px;
	}
  }
  @media (max-width:430px){
	.blognav{
		width: 75%;
	}
	.search{
		display: block;
	}
	.searching {
		width: 75%;
	}
	.sort{
		display: flex;
		width: 80%;
		margin-top: 1rem;
		justify-content: space-between;
	}
  }